.body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.MTR-Cabin-Panel{
    max-width: 100vw;
    max-height: 100vh;
    aspect-ratio: 5 / 4;
    outline: 1px solid black;
    background-image: url('./Media/images/Mon-Outline1.png');
    background-repeat: no-repeat; /* stops tiling */ background-size: cover; /* scales to fill */ background-position: center;
}
.info-section {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 12vh;
    background-color: grey;
}
.info-section > div {
    vertical-align: top;
}

.info-section td {
    display: inline-block;
}
.info-section table {
    margin: 0;
    border-collapse: collapse;
}
#block-1 h1{
    font-size: 3.5vh;
    margin-top: 0.7vh;
    margin-bottom: 2.1vh;
    transform: scaleY(1.3);
    text-align: left;
    color: white;
}
#block-1 p{
    font-size: 3vh;
    margin: 0;
    text-align: left;
    color: #305452;
}
#block-2 h1{
    text-align: left;
    vertical-align: top;
    font-size: 3vh;
    margin-top: 0.1vh;
    text-align: left;
    color: #305452;
}
#block-2 p{
    margin: 0;
    font-size: 2.5vh;
    text-align: left;
    color: black;
}
#block-3 p{
    font-size: 3.5vh;
}
#block-4 p{
    font-size: 3vh;
    margin: 0;
    text-align: right;
    color: #305452;
}
.pa-section tr{
    height: 10vh;
    vertical-align: center;
}
.pa-no {
    font-size: 4.5vh;
    transform: scaleY(1.5);
    padding-top: 2.5vh;
    border: 2px solid black;
}
.pa-section button{
    margin-left: 0.2vw;
    height: 9vh;
    width: 16vw;
    font-size: 3vh;
    color:white;
    background-color: #3c6e99;
}
.pa-description{
    font-size: 4vh;
    vertical-align: top;
}
.navigation-section button{
    background-color: #3c6e99;
    width: 8.5vw;
    flex: 1;
}